* {
    box-sizing: border-box;
  }
body{
    padding: 0px;
    margin: 0px;
    color: rgb(197, 194, 194);
    background-color: black;
    font-family: "Kalam",'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
header{
    color: rgb(197, 194, 194);
    text-align: center;
    font-family: "Kaushan Script";
    padding: 0px;
    margin: 0px;
    height: 600px;
    display: block;
    position: relative;
}
#profile_pic{
    height: 300px;
    width: 300px;
    border-radius: 50%;
    
}
li{
    list-style-type: none;
}
h1{
    text-align: center;
}
a{
    text-decoration: none;
    color: inherit;
}
a:hover{
    text-decoration: underline;
}
header div ul li{ 
    display: inline-flex;
    font-size: 17px;
    border: 2px;
    border-style: outset;
    border-radius: 10%;
    margin: 5px;
    margin-top: 5px;
}
.social{
    float: right;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    color:rgb(197, 194, 194);
}
.social:hover{
    color: #000;
    background-image:linear-gradient( to bottom right, rgb(127, 228, 241),rgb(223, 222, 222));
}

.About{
  
  display: inline-flex;
  margin-top: 10px;
  font-size: 20px;
}
#pic1{
    width: 600px;
    padding-right: 10px;
}
#About{
    text-align: left;
}


.Projects{
    font-size: 20px;
    width: 80%;
}
.cont{
    background-color: rgb(197, 194, 194);
    color: black;
}
.Projects a img{
    width: 400px;
    height: 400px;
}
.Projects a img:hover{
    opacity: 0.5;
}

.Projects p{
    text-align: left;
}
#more{
    padding: 13px;
    font-size: 20px;
    background-color: transparent;
    color: white;
    border-style: groove;
    border-radius: 10px;
}
#more:hover{
    background-image: linear-gradient( to bottom right, rgb(127, 228, 241),rgb(223, 222, 222));
    color: #000;
}
#skills{
    text-align: left;
    display: none;
}

@media only screen and (max-width: 1030px) {
    header{
        height: 600px;
    }
    #pic1{
        width: 100%;
        padding: 0px;
    }

    .About{
        position: relative;
        display: grid;
        margin: auto;
    }
    #About{
        margin: 0 auto;
        text-align: center;
    }
    .Projects{
        width: auto;
    }
  }
@media only screen and (max-width: 380px){
    header{
        height: 700px;
    }
    .Projects a img{
        width: 100%;
        height: 300px;
    }
}